@import './variable.sass'

html
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif'

body
  background-color: $background
  color: $paragraph
  margin: 0


  @include md
    max-width: $md // PCのときにずれてしまう
    margin: 0 auto // PCのときにずれてしまう

  h1
    color: $headline

