@import './variable'

html
  font-family: 'Lato'

body
  @include md
    margin: 0 auto    // PCのときにずれてしまう
    max-width: $md    // PCのときにずれてしまう

  background-color: $background
  color: $paragraph
  margin: 0

  h1
    color: $headline
