@import "./variable.css"

html
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif'

body
  background-color: var(--background)
  color: var(--paragraph)
  margin: 0

  h1
  color: var(--headline)

