@import '../layout/variable'

header
  height: 64px
  display: flex
  align-items: center

  @include md
    max-width: $md // PCのときにずれてしまう
    margin: 0 auto // PCのときにずれてしまう

.site-title
  margin-left: 16px
  font-size: 20px
  font-weight: bold
  color: $headline
  text-decoration: none
