@import '../layout/layout.sass'

header
  height: 64px
  display: flex
  align-items: center

.site-title
  margin-left: 16px
  font-size: 20px
  font-weight: bold
  color: var(--headline)
  text-decoration: none